td {
	font-family: Arial, Helvetica, sans-serif; font-size: 10pt;
	}
	

#handling_table
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
}

.handling_td
{
	padding: 4px;
}

#amount_table
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
}

.input_area
{
	width: 32em;
}

#handling_new_table
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}

 #request_table
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
}

#total_table
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
}

input{
     border:1px solid #ccc;
     padding:5px;
}

input:focus{
     border:1px solid #38C;
}

select
{
border:2px solid #87CEFA;
}

#wrapper {
 
 text-align: left;
 
 width: 740px;
 
 margin-left: auto;
 
 margin-right: auto;
 
background-color: #fdf8f2;
 
color: #01407a;
 
padding: 10px;
 
}

TABLE.report_table
  { 
     font-family:arial;
     font-size:10pt;
     background-color:#808080;
     width:1000px;
     border-style:solid;
     border-color:black;
     border-width:2px;
  }

  TH.report_table
  {
     font-size:10pt;
     color:white;
	 border-style:solid;
	 border-width:1px;
  }


  TR.report_table
  { 
  }

  TD.report_table
  {  
     font-size:10pt;
     background-color:#409040;
     color:white;
     border-style:solid;
     border-width:1px;
     text-align:center;
  }
 
